body {
background: skyblue;
font-family: Arial, Helvetica, sans-serif;
display: flex;
}
h1 {
color: black;
text-align: center;
}
.assign {
padding: 10px;
margin: 10px;
background: white;
width: 20%;
box-shadow: 8px 8px grey;
border-radius: 10px;
display: block;
}
.assign img {
width: 200px;
padding: 10px;
}
